<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Members</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Applicable prices</h1>

            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr style="text-align: center">
                            <th scope="col">Subscription type</th>
                            <th scope="col">Court type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center" th:each="applicablePrice : ${applicablePrices}">
                            <td th:text="${applicablePrice.subscriptionType}"></td>
                            <td th:text="${applicablePrice.courtType}"></td>
                            <td th:text="${'$' + applicablePrice.amount}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button class="btn btn-success mb-3" type="button" data-toggle="collapse"
                    data-target="#updateApplicablePrice" aria-expanded="false" aria-controls="updateApplicablePrice">Update applicable price
            </button>

            <div class="row">
                <div class="col">
                    <div class="collapse" id="updateApplicablePrice">
                        <div class="card card-body">
                            <form class="form-inline" action="#" th:action="@{/applicable-prices}" th:object="${applicablePrice}" method="post">
                                <select class="form-control" th:field="*{subscriptionType}">
                                    <option th:each="subscriptionType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.SubscriptionType).values()}"
                                            th:value="${subscriptionType}" th:text="${subscriptionType}">Plan
                                    </option>
                                </select>

                                <select class="form-control ml-2" th:field="*{courtType}">
                                    <option value=""></option>
                                    <option th:each="courtType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.CourtType).values()}"
                                            th:value="${courtType}" th:text="${courtType}">Tennis
                                    </option>
                                </select>

                                <div class="input-group ml-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="currency-label">$</span>
                                    </div>
                                    <input type="number" class="form-control" id="amount" placeholder="Amount"
                                           aria-label="Amount" aria-describedby="currency-label" th:field="*{amount}">
                                </div>

                                <button type="submit" class="btn btn-primary ml-5">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
