<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Courts</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Bookings</h1>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h2>Booked for today</h2>
                    </div>
                    <div class="table-responsive" th:include="this::booking-table (${todayBookings}, false)"></div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h2>Next bookings</h2>
                    </div>
                    <div class="table-responsive" th:include="this::booking-table (${tomorrowBookings}, false)"></div>
                </div>
            </div>
            <div>
                <h2>Book</h2>
            </div>
            <div class="row">
                <div class="col">
                    <form class="form-inline" action="#" th:action="@{/bookings}" th:object="${bookingRequest}" method="post">
                        <select class="form-control mr-2" th:field="*{memberId}" required>
                            <option th:each="member : ${members}"
                                    th:value="${member.id}" th:text="${member.fullName}">John Doe
                            </option>
                        </select>

                        <input type="date" class="form-control mr-2" placeholder="Booked for" th:field="*{bookedForDate}"
                               th:min="${T(java.time.LocalDate).now()}" required>

                        <input type="time" class="form-control mr-2" placeholder="At" th:field="*{bookedForTime}"
                               th:min="${(T(java.time.LocalTime).now().getHour() + 1)}" required>

                        <select class="form-control mr-2" th:field="*{courtType}" required>
                            <option th:each="courtType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.CourtType).values()}"
                                    th:value="${courtType}" th:text="${courtType}">Tennis
                            </option>
                        </select>

                        <button type="submit" class="btn btn-primary mr-2">Book</button>
                    </form>
                </div>
            </div>
            <div>
                <h2>Bookings history</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">
                        <form class="form-inline" action="#" th:action="@{/bookings/filter}" th:object="${bookingFilter}" method="post">
                            <select class="form-control mr-2" th:field="*{year}">
                                <option th:each="year : ${bookingYears}"
                                        th:value="${year}" th:text="${year}">2017
                                </option>
                            </select>

                            <select class="form-control mr-2" th:field="*{month}">
                                <option th:each="month : ${T(java.time.Month).values()}"
                                        th:value="${month.getValue()}" th:text="${month.name()}">January
                                </option>
                            </select>

                            <button type="submit" class="btn btn-primary mr-2">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive" th:include="this::booking-table (${passedBookings}, true)"></div>
                </div>
            </div>
        </div>

        <div th:fragment="booking-table (bookings, displayDate)">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr style="text-align: center">
                        <th scope="col">#</th>
                        <th scope="col">Booked by</th>
                        <th scope="col">Court</th>
                        <th th:if="${displayDate}" scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center" th:each="booking : ${bookings}" th:class="${booking.cancelled ? 'table-warning' : ''}">
                        <td th:text="${booking.id}">1</td>
                        <td>
                            <a th:href="@{/members/{memberId}(memberId=${booking.memberId})}" th:text="${booking.memberName}">John Doe</a>
                        </td>
                        <td>
                            <a th:href="@{/courts/{courtId}(courtId=${booking.courtId})}"
                               th:text="|${booking.courtType} #${booking.courtId}|">Tennis - #2</a>
                        </td>
                        <td th:if="${displayDate}" th:text="${booking.bookedForDate}">2017-12-28</td>
                        <td th:text="${booking.bookedForTime + 'H'}">12H</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
