<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Courts</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Courts</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr style="text-align: center">
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Commissioning date</th>
                            <th scope="col">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center" th:each="court : ${courts}" >
                            <td>
                                <a th:href="@{/courts/{courtId}(courtId=${court.id})}" th:text="${court.id}"></a>
                            </td>
                            <td th:text="${court.type}">Tennis</td>
                            <td th:text="${court.commissioningDate}">2017-12-21</td>
                            <td>
                                <span class="badge badge-primary badge-pill" th:text="${court.rating + ' / 5'}">4 / 5</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
