<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Courts</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/courts}">Courts</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${court.id}">2</li>
                        </ol>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="courtType" class="col-sm-6 col-form-label font-weight-bold">Court type</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext text-lowercase" id="courtType"
                                       th:value="${court.type}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="commissioningDate" class="col-sm-6 col-form-label font-weight-bold">Commissioning date</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="commissioningDate"
                                       th:value="${court.commissioningDate}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label font-weight-bold">Rating</label>
                            <div class="col-sm-6">
                                <span class="badge badge-primary badge-pills" th:text="${court.rating + ' / 5'}">4 / 5</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr style="text-align: center">
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Done on</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center" th:each="maintenanceOperation : ${court.maintenanceOperations}">
                                <td th:text="${maintenanceOperation.id}">1</td>
                                <td class="text-lowercase" th:text="${maintenanceOperation.type}">Plan</td>
                                <td th:text="${maintenanceOperation.maintenanceDate}">2018-01-01</td>
                                <td style="text-align: right" th:text="${'$' + maintenanceOperation.cost}">$200.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
