<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Courts</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Financial report</h1>
            <div>
                <h2>Report</h2>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="card card-body">
                        <form class="form-inline" action="#" th:action="@{/financial}" th:object="${financialFilter}" method="post">
                            <select class="form-control mr-2" th:field="*{year}">
                                <option th:each="year : ${bookingYears}"
                                        th:value="${year}" th:text="${year}">2017
                                </option>
                            </select>

                            <button type="submit" class="btn btn-primary mr-2">Filter</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr style="text-align: center">
                                    <th scope="col">Member</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center" th:each="entry : ${financialInformation.yearlyIncomePerMembers}">
                                    <td th:text="${entry.getKey()}">John Doe</td>
                                    <td th:text="${'$' + entry.getValue()}">$324.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr style="text-align: center">
                                <th scope="col">Year</th>
                                <th scope="col"
                                    th:each="subscriptionType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.SubscriptionType).values()}"
                                    th:text="${subscriptionType}">Plan
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center"
                                th:each="subscriptionTypesDistribution : ${financialInformation.yearlySubscriptionsBySubscriptionTypes}">
                                <td th:text="${subscriptionTypesDistribution.getKey()}">2017</td>
                                <td th:each="subscriptionType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.SubscriptionType).values()}"
                                    th:text="${subscriptionTypesDistribution.getValue().get(subscriptionType)}">2
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <div>
                        <label>Income:&nbsp;</label>
                        <span th:text="${'$' + financialInformation.incomeOfTheYear}">$352.00</span>
                    </div>
                    <div>
                        <label>Maintenance cost:&nbsp;</label>
                        <span th:text="${'$' + financialInformation.maintenanceCostOfTheYear}">$142.00</span>
                    </div>
                    <div>
                        <label>Income - Maintenance:&nbsp;</label>
                        <span th:text="${'$' + (financialInformation.incomeOfTheYear - financialInformation.maintenanceCostOfTheYear)}">$210.00</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h2>Income per month</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr style="text-align: center">
                                    <th scope="col">Year</th>
                                    <th scope="col">January</th>
                                    <th scope="col">February</th>
                                    <th scope="col">March</th>
                                    <th scope="col">April</th>
                                    <th scope="col">Mai</th>
                                    <th scope="col">June</th>
                                    <th scope="col">July</th>
                                    <th scope="col">August</th>
                                    <th scope="col">September</th>
                                    <th scope="col">October</th>
                                    <th scope="col">November</th>
                                    <th scope="col">December</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center"
                                    th:each="monthlyDistribution : ${financialInformation.yearlyIncomePerMonths}">
                                    <td th:text="${monthlyDistribution.getKey()}">2017</td>
                                    <td th:each="monthAmount : ${monthlyDistribution.getValue()}" th:text="${'$' + monthAmount.getValue()}">
                                        $932.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h2>Income per court type</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr style="text-align: center">
                                    <th scope="col">Year</th>
                                    <th scope="col"
                                        th:each="courtType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.CourtType).values()}"
                                        th:text="${courtType}">Tennis
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center"
                                    th:each="courtTypesDistribution : ${financialInformation.yearlyIncomePerCourtTypes}">
                                    <td th:text="${courtTypesDistribution.getKey()}">2017</td>
                                    <td th:each="courtType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.CourtType).values()}"
                                        th:text="${'$' + courtTypesDistribution.getValue().get(courtType)}">$932.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
