<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Members</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/members}">Members</a></li>
                            <li class="breadcrumb-item active" aria-current="page" th:text="${member.getFullName()}">Member's name</li>
                        </ol>
                    </nav>
                </div>

                <h2>Member's information</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="fullName" class="col-sm-6 col-form-label font-weight-bold">Full name</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="fullName"
                                       th:value="${member.getFullName()}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="birthDate" class="col-sm-6 col-form-label font-weight-bold">Birth date</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="birthDate" th:value="${member.birthDate}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="email" class="col-sm-6 col-form-label font-weight-bold">Email</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="email" th:value="${member.email}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="lastMonthBilledAmount" class="col-sm-6 col-form-label font-weight-bold">Billed amout (last month)</label>
                            <div class="col-sm-6">
                                <input type="text" readonly class="form-control-plaintext" id="lastMonthBilledAmount"
                                       th:value="${'$' + member.lastMonthBilledAmount}">
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Applicable prices</h2>
                <div class="row">
                    <div class="col-md-4" th:each="applicablePrice : ${member.applicablePrices}">
                        <span th:text="${applicablePrice.key}">Tennis</span>
                        <span th:text="${'$' + applicablePrice.value}">$34.00</span>
                    </div>
                </div>

                <h2 class="mt-4">Subscription(s) and booking(s)</h2>
                <div class="row">
                    <div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="subscriptions-history-tab" data-toggle="tab"
                                   href="#subscriptions-history" role="tab" aria-controls="subscriptions-history" aria-selected="true">Subscription(s)</a>
                                <a class="nav-item nav-link" id="bookings-tab" data-toggle="tab"
                                   href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">Booking(s)</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="member-tabContent">
                            <div class="tab-pane fade show active" id="subscriptions-history" role="tabpanel"
                                 aria-labelledby="subscriptions-history-tab">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr style="text-align: center">
                                            <th scope="col">#</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Subscribed on</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-align: center" th:each="subscription : ${member.subscriptions}">
                                            <td th:text="${subscription.id}">1</td>
                                            <td class="text-lowercase" th:text="${subscription.type}">Plan</td>
                                            <td th:text="${subscription.subscribedOn}">2018-01-01 12:21</td>
                                            <td style="text-align: right" th:text="${'$' + subscription.amount}">$200.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
                                <table class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr style="text-align: center">
                                            <th scope="col">#</th>
                                            <th scope="col">Booked for</th>
                                            <th scope="col">Booked on</th>
                                            <th scope="col">Court type</th>
                                            <th scope="col">Billed amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="text-align: center" th:each="booking : ${member.bookings}">
                                            <td th:text="${booking.id}">1</td>
                                            <td th:text="${booking.bookedFor}">2018-01-01 12:21</td>
                                            <td th:text="${booking.bookedOn}">2018-01-01 12:21</td>
                                            <td class="text-lowercase" th:text="${booking.courtType}">Tennis</td>
                                            <td style="text-align: right" th:text="${'$' + booking.billedAmount}">$21.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
