<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
    <head>
        <title>Members</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Members</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr style="text-align: center">
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                            <th scope="col"># of booking</th>
                            <th scope="col">Active?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center" th:each="member : ${members}">
                            <td>
                                <a th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.id}"></a>
                            </td>
                            <td th:text="${member.firstName}">First name</td>
                            <td th:text="${member.lastName}">Last name</td>
                            <td th:text="${member.email}">Email</td>
                            <td>
                                <span class="badge badge-primary badge-pill" th:text="${member.bookingCount}">1</span>
                            </td>
                            <td th:text="${member.hasActiveSubscription ? 'yes' : 'no'}"
                                th:class="${member.hasActiveSubscription ? 'bg-success' : 'bg-danger'}">Has active subscription?
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-success mb-3" type="button" data-toggle="collapse"
                        data-target="#addAMember" aria-expanded="false" aria-controls="addAMember">Add a member
                </button>

                <div class="row">
                    <div class="col">
                        <div class="collapse" id="addAMember">
                            <div class="card card-body">
                                <form class="form-inline" action="#" th:action="@{/members}" th:object="${member}" method="post">
                                    <label class="sr-only" for="firstName">First name</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="firstName" placeholder="First name" th:field="*{firstName}">

                                    <label class="sr-only" for="lastName">Last name</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2" id="lastName" placeholder="Last name" th:field="*{lastName}">

                                    <label class="sr-only" for="birthDate">Birth date</label>
                                    <input type="date" class="form-control mb-2 mr-sm-2" id="birthDate" placeholder="Birth date" th:field="*{birthDate}">

                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon">@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                               aria-describedby="email-addon" th:field="*{email}">
                                    </div>

                                    <select class="form-control" th:field="*{subscriptionType}">
                                        <option th:each="subscriptionType : ${T(me.fthouraud.cnam.sportsclub.domain.enumeration.SubscriptionType).values()}"
                                                th:value="${subscriptionType}" th:text="${subscriptionType}">Plan
                                        </option>
                                    </select>

                                    <button type="submit" class="btn btn-primary ml-5">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
