<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title layout:title-pattern="Sports club - $CONTENT_TITLE">Sports club</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <a th:href="@{/}" class="navbar-brand">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item" th:classappend="${module == 'members' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/members}">Members</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'courts' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/courts}">Courts</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'bookings' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/bookings}">Bookings</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'financial' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/financial}">Financial</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'applicable-prices' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/applicable-prices}">Applicable prices</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" layout:fragment="content">
                    Page content goes here
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>
